# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/dfgTest/Debug_VC2010
/dfgTest/Debug_VC2012
/dfgTest/Debug_VC2013
/dfgTest/MinGW/MinGW
/dfgTest/Release_VC2010
/dfgTest/Release_VC2012
/dfgTest/Release_VC2013
*.opensdf
*.sdf
*.suo
*.user
*.ipch
