# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/dfgTest/Debug_VC2010
/dfgTest/Debug_VC2012
/dfgTest/Debug_VC2013
/dfgTest/MinGW/MinGW
/dfgTest/Release_VC2010
/dfgTest/Release_VC2012
/dfgTest/Release_VC2013
*.opensdf
*.sdf
*.suo
*.user
*.ipch
/dfgExamples/csvItemModelExample/Debug_VC2010
/dfgExamples/csvItemModelExample/GeneratedFiles/Debug_VC2010
/dfgTest/testfiles/generated
/dfgTestQt/Debug_VC2010
/dfgTestQt/Debug_VC2012
/dfgTestQt/Debug_VC2013
/dfgTestQt/GeneratedFiles
/dfgTestQt/Release_VC2013
/dfgExamples/csvItemModelExample/GeneratedFiles
/dfgExamples/csvItemModelExample/Debug_VC2012
/dfgExamples/spectrumColourExample/Debug_VC2012
/dfgExamples/spectrumColourExample/GeneratedFiles/Debug_VC2012
/dfgExamples/spectrumColourExample/GeneratedFiles
/dfgTest/Win32/Debug_VC2010
/dfgTest/Win32/Debug_VC2012
/dfgExamples/csvExample/Debug_VC2010
/dfgExamples/csvExample/Release_VC2010
/dfgExamples/csvExample/Debug_VC2012
/dfgExamples/csvExample/MinGW/MinGW
/dfgExamples/csvExample/Debug_VC2013
/dfgExamples/csvExample/csvUtf32Be.csv
/dfgExamples/csvExample/csvUtf8.csv
/dfgTest/x64/Debug_VC2012
/dfgExamples/spectrumColourExample/x64/Debug_VC2012
/dfgExamples/spectrumColourExample/Debug_VC2010
/dfgExamples/csvItemModelExample/Debug_VC2013
/dfgExamples/spectrumColourExample/Debug_VC2013
*.temp
/dfgTest/Win32/Debug_VC2013
/dfgTestQt/testfiles/generated
/dfgExamples/spectrumColourExample/x64/Debug_VC2015
/dfgTest/x64/Debug_VC2015
/dfgExamples/spectrumColourExample/x64/Debug_VC2013
/dfgTest/x64/Debug_VC2013
/dfgTestQt/Debug_VC2015
/dfgExamples/csvItemModelExample/Release_VC2010
/dfgExamples/spectrumColourExample/Release_VC2010
/dfgTestQt/Release_VC2010
/dfgExamples/csvItemModelExample/Release_VC2012
/dfgExamples/csvExample/Release_VC2012
/dfgTestQt/Release_VC2012
/dfgExamples/spectrumColourExample/Release_VC2012
/dfgTest/Debug_VC2015
/dfgExamples/csvExample/Release_VC2013
/dfgExamples/csvExample/Release_VC2015
/dfgExamples/csvItemModelExample/Release_VC2013
/dfgExamples/csvItemModelExample/Release_VC2015
/dfgExamples/spectrumColourExample/Release_VC2013
/dfgExamples/spectrumColourExample/Release_VC2015
/dfgTest/Release_VC2015
/dfgTest/x64/Release_VC2015
/dfgTestQt/Release_VC2015
/dfgExamples/csvExample/Debug_VC2015
/dfgExamples/csvExample/x64/Release_VC2017
/dfgExamples/csvItemModelExample/Debug_VC2015
/dfgExamples/spectrumColourExample/Debug_VC2015
/dfgTest/Win32/Debug_VC2015
/dfgTest/dfgTest.VC.db
/dfgTest/dfgTest.VC.VC.opendb
/dfgTest/x64/Debug_VC2010
/dfgTest/x64/Release_VC2010
/dfgTest/x64/Release_VC2012
/dfgExamples/csvItemModelExample/x64/Release_VC2012
/dfgTest/Win32/Release_VC2012
/dfgTest/Win32/Release_VC2015
/dfgExamples/csvItemModelExample/x64/Debug_VC2012
/dfgTest/Win32/Release_VC2010
/dfgTest/Win32/Release_VC2013
/dfgTest/x64
/dfgTest/.vs
/dfgTest/Win32/Release_VC2017
/dfgTest/Win32/Debug_VC2017
